/*
Filename: Hangman.css

Code: CSS for Hangman.js
*/

.Hangman {
	width: 400px;
	color: black;
	text-align: center;
	zoom: 1.3;
}

.Hangman-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Hangman img {
	border: 10px solid white;
	flex: 1;
	height: 200px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
		0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman-info {
	flex: 1;
	padding: 10px;
}

.Hangman h2 {
	font-size: 1.50rem;
	color: #fcc154;
	font-weight: 400;
}

.Hangman-word {
	letter-spacing: 1em;
	margin: 0.4em -1em 0.2em 0;
	color: #ffffff;
	font-size: 2rem;
}

.Hangman-buttons {
	text-align: center;
	display: inline-block;
	color: #ffffff;
	width: 250px;
	margin-top: 0;
}
.Hangman button {
	border: none;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	width: 30px;
	margin: 5px 2px 2px 2px;
	letter-spacing: 1px;
	outline: none;
	background: #d69615;
	color: #fff;
	box-shadow: 0 2px rgb(0, 0, 0);
	padding-top: 4px;
}

.Hangman button:hover {
  	background-color: #04cae0;
}

.Hangman button:disabled {
	background: #818181;
	color: #eeeeee;
	box-shadow: 0 2px #000000;
}

#reset {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #d69615;
	box-shadow: 0 2px #000000;
}
#reset:hover {
  	background: #818181;
}

p {
	font-size: 1.2rem;
	color: #d69615;
	font-weight: 400;
}